/* 父容器样式 */
#content_single_part-parent-container {
    display: flex;             /* 使用flex布局 */
    /*width: 100%;                !* 父容器宽度100% *!*/
    width: 1200px; /* 设置固定宽度 */
    justify-content: center;   /* 将子元素水平居中对齐 */
    /* 居中对齐 */
    /* 每个选择题之间留有间隔 */
    margin: 0 auto 20px;
}

/* 子元素样式 */
#content_single_part-child-element {
    width: 100%;                 /* 子元素占父容器宽度的80% */
    margin: 0 auto;             /* 居中对齐 */
    /*!*字体居中*!*/
    /*text-align: center;*/
    /*字体距离右面一定距离*/
    padding-right: 20px;
}
