/* 导航条上方样式 */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f6f7ff;
    grid-area: header;
}

#header .logo-img {
    width: auto; /* 确保图片宽度与盒子宽度相同 */
    height: 100%; /* 确保图片高度与盒子高度相同 */
    object-fit: cover; /* 确保图片覆盖整个元素 */
    padding: 0; /* 确保没有内边距 */
}

#search-box {
    display: flex;
}

#search-box input {
    padding: 5px 10px;
    border: 1px solid #cccccc;
    /*border-radius: 5px 0 0 5px;*/
    border-right: none;
}

#search-box button {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    /*border-radius: 0 5px 5px 0;*/
    border-left: none;
}

.icon {
    stroke: #ffffff; /* 改变 SVG 图标的填充颜色为红色，假设 SVG 内部图形使用了 fill 属性来定义颜色 */
    width: 20px; /* 改变图标宽度 */
    height: 25px; /* 改变图标高度 */
}

/* 移动端适配 - 小于768px屏幕 */
@media (max-width: 768px) {
    #header {
        flex-direction: column; /* 切换为垂直布局 */
        align-items: flex-start; /* 左对齐 */
        padding: 15px; /* 增加内边距 */
    }

    #search-box {
        width: 100%; /* 使搜索框宽度占满 */
        margin-top: 10px; /* 增加顶部间距 */
        justify-content: space-between; /* 使输入框和按钮在一行内有间距 */
    }

    #search-box input {
        width: 80%; /* 输入框占大部分宽度 */
        margin-right: 5px; /* 增加右侧间距 */
    }

    #search-box button {
        width: 15%; /* 按钮占一定宽度 */
    }
}