

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-menu {
    padding-left: 20px; /* 让左侧菜单与左边距有一些距离 */
}

#right-section {
    width: 100%;
    box-sizing: border-box; /* 确保 padding 和 border 包含在内 */
}

/* 导航条样式 */
.navbar {
    background-color: #0a5cad; /* 主题蓝色 */
    grid-area: navbar;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    padding: 10px 0;
}

.navbar ul li a {
    /*color: #ffffff;*/
    color: #faf9f8; /* 白色文字 */
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #ffffff; /* 白色文字 */
}

/* Banner图片样式 */
.banner img {
    width: 100%;
    height: auto;
}

/* 首页主体内容样式 */
.main-content {
    padding: 20px;
    background-color: #ffffff; /* 整体页面背景 */
}

.slider img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* 移动端适配 - 小于768px屏幕 */
@media (max-width: 768px) {
    .left-menu {
        padding-left: 0; /* 移除左侧菜单内边距 */
    }

    #right-section {
        width: 100%; /* 宽度为100% */
        display: flex;
        flex-direction: column; /* 切换为垂直布局 */
        /*align-items: flex-start; !* 左对齐 *!*/
    }

    /* Navbar 样式调整 */
    .navbar ul {
        flex-direction: column; /* 切换为垂直排列 */
        align-items: center; /* 中心对齐 */
    }

    .navbar ul li {
        padding: 5px 0; /* 减小间距 */
    }

    /* 首页内容调整 */
    .main-content {
        padding: 10px; /* 减少内边距 */
    }
}

@media (max-width: 768px) {
    #Information_disclosure_in_key_areas {
        padding-left: 10px;
        padding-bottom: 10px;
    }
}