/* 主色调与背景色 */
#search-results-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* 整体页面背景色 */
    color: #1e1e1e; /* 主要黑色字体 */
    margin: 0 auto;
}

#search-results-title {
    font-size: 1.8em;
    color: #0a5cad; /* 主题蓝色 */
    margin-bottom: 15px;
}

/* 搜索关键词和共找到多少条结果居中 */
#search-keyword,
#search-count {
    font-size: 1em;
    color: #1e1e1e; /* 次要黑灰色 */
    margin-bottom: 10px;
    text-align: center; /* 居中对齐 */
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; /* 限制最大宽度，防止过宽 */
}

/* 搜索结果列表 */
#search-result-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 每个搜索结果项 */
.search-result-item {
    background-color: #ffffff; /* 白色背景 */
    border: 1px solid #ddd; /* 边框色 */
    /*border-radius: 5px;*/
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.3s ease; /* 添加过渡效果 */
}

/* 鼠标悬停效果 */
.search-result-item:hover {
    background-color: #f1faff; /* 背景变为淡蓝色 */
    border-color: #0a5cad; /* 悬停时边框颜色为主题蓝色 */
}

.result-link {
    text-decoration: none;
    color: #0a5cad; /* 主题蓝色 */
    font-weight: bold;
    font-size: 1.1em;
    display: block; /* 使整个区域可点击 */
}

/* 鼠标悬停时链接颜色变化 */
.result-link:hover {
    color: #0068b7; /* 鼠标悬停时改变颜色 */
}

@media (max-width: 768px) {
    /* 在小屏幕上调整标题字体大小 */
    #search-results-title {
        font-size: 1.5em;
    }

    .search-result-item {
        padding: 8px;
    }

    .result-link {
        font-size: 1em;
    }
}
