/* 设置容器为flex布局 */
.Three_modules_in_the_middlecontainer {
    display: flex; /* 启用flex布局 */
    justify-content: center; /* 容器内容居中 */
    align-items: flex-start; /* 子元素在垂直方向上置顶对齐 */
    width: 81%; /* 容器占父元素宽度的90% */
    margin: 0 auto; /* 设置自动水平边距，使容器居中 */
}

/* 每个子元素的样式 */
.Three_modules_in_the_middlecontainer_item {
    padding: 10px; /* 添加适当的内边距 */
    box-sizing: border-box; /* 包括padding在内计算元素宽度 */
}

.left {
    flex: 0.6; /* 左侧占较小比例，稍微收缩 */
    align-self: flex-start; /* 单独设置左侧元素置顶 */
}

.center {
    flex: 2; /* 中间占较大比例 */
    text-align: center;
    align-self: flex-start; /* 单独设置中间元素置顶 */
}

.right {
    flex: 0.6; /* 右侧占较小比例，稍微收缩 */
    text-align: right;
    align-self: flex-start; /* 单独设置右侧元素置顶 */
}
